<% @songs = @artist.songs  %>
<div class="container-fluid col-md-10 col-md-offset-1">
  <% @songs.each do |song| %>
  <div class="col-md-3 col-md-offset-1 panel panel-primary">
    <div class="col-md-6"> <h5><%= song.name %></h4></div>
    <div class="col-md-6"><%= image_tag song.album_image.image , :class => "style_image"%>
    </div>
    <div class="col-md-9">
      Track <%= song.track_number %> of <%= song.album %>
    </div>
    <div class="text-right col-md-3"><%= link_to "Delete", song_path(song.id) , method: :delete %> </div>
  </div>
  <% end %>
  <div class="col-md-11 col-md-offset-1 top-buffer">
    <div class="text-left"><%= link_to "Add Song", new_song_path(:artist => @artist), method: :new %></div>
    <div class="text-right"><%= link_to "Delete Artist", artist_path(@artist), method: :delete, data: {confirm: "Are you sure?"} %></div>
  </div>
</div>
