<div class="panel panel-default">
  <div class="panel-heading">
    Add new Song
  </div>

  <div class="panel-body">
    <ul>
      <% @song.errors.full_messages.each do |msg| %>
      <li class="error"><%= msg %></li>
      <% end %>
    </ul>
    <%= form_for [@artist, @album, @song], remote: true do |f| %>
    <div class="form-group">
      <label>Song Name</label>
      <%= f.text_field :name, placeholder: "Song Name", class: "form-control" %>
    </div>

    <div class="form-group">
      <label>Track number</label>
      <%= f.number_field :track_number, placeholder: "Track Number", class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "Save", class: "btn btn-primary" %>
    </div>
    <% end %>

  </div>
</div>
