<div class="panel panel-default">
  <div class="panel-heading">
    Add new album
  </div>
  <div class="panel-body">
    <ul>
      <% @album.errors.full_messages.each do |msg| %>
      <li class="error"><%= msg %></li>
      <% end %>
    </ul>

    <%= form_for [@artist, @album], remote: true do |f| %>

    <div class="form-group">
      <label>Album Name</label>
      <%= f.text_field :name, placeholder: "Album Name", class: "form-control" %>
    </div>

    <div class="form-group">
      <label>Release year</label>
      <%= f.number_field :year, placeholder: "Release year", class: "form-control" %>
    </div>

    <div class="form-group">
      <span class="btn btn-default">
        Upload Album Image
        <%= f.file_field :image, type: :file %>
      </span>
    </div>

    <div class="actions">
      <%= f.submit "Save", class: "btn btn-primary" %>
    </div>
    <% end %>
  </div>
</div>
